BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 120

PointerAlignment: Right
AlignTrailingComments: true
ReflowComments: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: false

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false

SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1

  - Regex: '^".*"$'
    Priority: 2